

.mainMenu {
    background-color: #E7EAEE;
}
.mainMenu i {
    color: #64748B;
}

.cldLnb {
    padding: 24px 16px;
    width: 220px !important;
    height: 100vh;
}
.cldLnb .p-panelmenu-header.p-highlight > a {
    border-radius: 4px !important;
}
.cldLnb .p-panelmenu-content {
    border: 0 none !important;
}
.cldLnb .p-panelmenu-header > a {
    padding: 10px !important;
    font-size: 16px;
}

.cldLnb .p-menuitem-text,
.cldLnb .pi-chevron-down,
.cldLnb .pi-chevron-right {
    font-size: 13px;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
    background: #f4f4f5;
    font-weight: bold;
    border-radius: var(--borderRadius-sm) !important;
}

.cldLnb .selected a {
    /* color: var(--brand-primary) !important; */
    background-color: #E7EAEE;
    border-radius: var(--borderRadius-sm) !important;
}