* {
  outline: none;
}

.p-datepicker {
  width: 420px !important
}

table caption {height : 0 !important}

.downloadIco {
  font-size: 12px;

}

table .color-primary {
  color: initial !important;
}

.required {
  font-weight: bold;
  color: var(--brand-secondary);
}

table .required {
   margin-left:3px;
}

.infoTxt {
  color: var(--global-placeholder-color);
}


:root {
  --primary-color: var(--brand-primary) !important;
  --focus-ring: 0 0 0 0.2rem red !important;
}

.title {
  color: var(--brand-primary)
}



.navi {
  -webkit-transition: all .2s, -webkit-transform .2s;
  transition: all .2s, transform .2s;
}
.navi.open {
  transform: none;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.navi.close {
  transform: translateX(-240px);
  visibility: hidden;
}

.pageContainer.open {
  transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    margin-left: 0;
}
.pageContainer.close {
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: -215px;
    
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.searchBar {
  display: flex;
  margin: 30px 0;
}
.searchBar > * {
  margin-right: 10px;
}
.searchBar > *:last-child {
  margin-right: 0;
}
.searchBar .searchTxt {
  flex: 1;
}
.searchBar .p-dropdown {
  width: 150px;
}
.searchBar .p-calendar {
  width: 120px;
}
.searchBar .searchBtn {
  width: 60px;
}



.pageNm {
  font-weight: bold;
  color: var(--brand-primary);
}

.toolbar {
  display: flex;
  align-items: center;
}





.p-dialog .p-dialog-header {
  padding: 0;
}

/* 닫기 버튼 숨김 */
.p-dialog .p-dialog-header .p-dialog-header-icon {
  visibility: hidden;
}

/* 제목이 없는 팝업 */
.p-dialog.noHeader .p-dialog-header {
  padding: 0 !important;
}

/* 제목이 있는 팝업 */
.p-dialog .p-dialog-header {
  padding: 1.5rem !important;
}

/* 버튼 하나만 있는 alert dialog */
.p-confirm-dialog.oneButton .p-button.p-confirm-dialog-reject {
  display: none;
  color: var(--brand-primary) !important;
  border: 1px solid var(--brand-primary) !important;
  background-color: transparent !important
}
.p-confirm-dialog.oneButton .p-confirm-dialog-accept {
  background: var(--brand-primary);
  width: 100%;
}
.p-confirm-dialog {width: 400px;}
.p-confirm-dialog-message {margin-left: 0 !important;}

.p-dialog .p-dialog-footer button {
  width:48%;
}
.p-dialog .p-dialog-footer button:last-child {margin-right: 0 !important;}
.p-dialog .p-dialog-footer {
  display: flex;
  justify-content: space-between;
}