* {
  outline: none;
}

table caption {height : 0 !important}

.downloadIco {
  font-size: 12px;
  
}

:root {
  --primary-color: var(--brand-primary) !important;
  --focus-ring: 0 0 0 0.2rem red !important;
}

.title {
  color: var(--brand-primary)
}



.navi {
  -webkit-transition: all .2s, -webkit-transform .2s;
  transition: all .2s, transform .2s;
}
.navi.open {
  transform: none;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.navi.close {
  transform: translateX(-240px);
  visibility: hidden;
}

.pageContainer.open {
  transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    margin-left: 0;
}
.pageContainer.close {
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: -215px;
    
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.searchBar {
  display: flex;
  margin: 30px 0;
}
.searchBar > * {
  margin-right: 10px;
}
.searchBar > *:last-child {
  margin-right: 0;
}
.searchBar .searchTxt {
  flex: 1;
}
.searchBar .p-dropdown {
  width: 150px;
}
.searchBar .p-calendar {
  width: 120px;
}
.searchBar .searchBtn {
  width: 60px;
}



.pageNm {
  font-weight: bold;
  color: var(--brand-primary);
}

.toolbar {
  display: flex;
  align-items: center;
}



/*------권승주-------*/
/* HTML Default */

/* 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section { 
  margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent; line-height:1.4em; box-sizing:border-box; font-weight:normal;}
article, aside, hgroup, header, footer, figure, figcaption, nav, section { display: block; }
body {padding:0;margin:0;box-sizing:border-box; font: 13px "NanumSquare", sans-serif; color:#575757;}
h1, h2, h3, h4, h5, h6 { font-weight:600; } 
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,q:before, q:after { content:''; }
table { border-collapse:collapse; border-spacing:0; table-layout:fixed; width:100%;}
button { margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; line-height:1; }
a:link, a:visited, a:hover, a,active, a:focus { text-decoration:none; cursor:pointer; color:#666;}
legend, caption { display:none; }
textarea { resize:vertical; font:inherit; overflow-y:auto; }
input, select { color:inherit; font:inherit; vertical-align: middle;}
address, i { font-style:normal; }
table { border-collapse:collapse; table-layout:fixed; }
img, select, input, button { vertical-align:middle; }
em { font-style:normal; }
input { font-family: 'NanumSquare', sans-serif;}

#root{
  padding:0 !important;
  margin: 0 auto;
}
.textCenter{ text-align: center;}
.mb{ margin-bottom: 30px;}
.css-yfo96e{padding:0 !important;} */


/*notice*/

/* 
.heading{
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  padding:25px;
  margin-bottom: 40px;
}
.heading h1{font-size: 24px; color: #333;}
.css-f3jnds-MuiDataGrid-columnHeaders{background-color: #F4F4F4; text-align: center !important;}
.css-1e2bxag-MuiDataGrid-root {font-size: 13px;}
.table{
  border:1px solid #EAECF0;
}
.table tr{border-bottom:1px solid #EAECF0;}
.table th{
   border-right:1px solid #EAECF0;
   background-color: #F4F4F4;
   height:45px;
   width:180px;
}
.table td{
  padding: 0 24px;
  vertical-align: middle;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{height:32px; top:2px !important;}

 */


 /* .cld-table-cover {
  border: 1px solid #e6e6e6;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 4px 8px -2px rgb(16 24 40 / 10%), 0px 2px 4px -2px rgb(16 24 40 / 6%);
 }

 .cld-table-cover .cld-table {
  border:0 none;
 } */