

/* comment 댓글 */
.commentWrap .titel{
  color: var(--brand-primary);
  font-weight: bold;
  margin-bottom: 8px;
}
.commentWrap .titel span{
  color: gray;
  font-size: 13px;
}
.comment{
  background: #F7F8F9;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 16px;
}
.comment .contnet{
  color: #333;
  font-size: 14px;
}
.comment .date{
  color:#64748B;
  font-size: 13px;
}
.comment .iconBtn{
  width: 23px;
  height: 23px;
  background: transparent !important;
}
.comment .iconBtn .p-button-icon {
  color: var(--brand-primary) !important;
  font-size: 23px;;
}
.commentWrap .more {
  background: transparent !important;
  color: var(--brand-primary) !important;
}
.profile {
  background-color: #fff;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E6E6E6;
}
 .profile i {
  color:#333;
}
.profileName{
  color:#64748B;
  font-weight: bold;
}